// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * lan966x_pcb8291.dts - Device Tree file for PCB8291
 */
/dts-v1/;
#include "lan966x.dtsi"
#include "lan966x-port-delay-pcb8291.dtsi"
#include "dt-bindings/phy/phy-lan966x-serdes.h"

/ {
	model = "Microchip EVB - LAN9662";
	compatible = "microchip,lan9662-pcb8291", "microchip,lan9662", "microchip,lan966";

	chosen {
		stdout-path = "serial0:115200n8";
	};

	aliases {
		serial0 = &usart3;
	};

	gpio-restart {
		compatible = "gpio-restart";
		gpios = <&gpio 56 GPIO_ACTIVE_LOW>;
		priority = <200>;
	};

	leds {
		compatible = "gpio-leds";

		led-s0-blue {
			label = "s0:blue";
			gpios = <&sgpio_out 2 0 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led-s0-green {
			label = "s0:green";
			gpios = <&sgpio_out 2 1 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led-s1-blue {
			label = "s1:blue";
			gpios = <&sgpio_out 3 0 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led-s1-green {
			label = "s1:green";
			gpios = <&sgpio_out 3 1 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led-p1-green {
			label = "cu0:green";
			gpios = <&sgpio_out 0 0 GPIO_ACTIVE_LOW>;
			default-state = "off";
			linux,default-trigger = "e200413c.mdio-mii:01:link";
		};

		led-p2-green {
			label = "cu1:green";
			gpios = <&sgpio_out 1 0 GPIO_ACTIVE_LOW>;
			default-state = "off";
			linux,default-trigger = "e200413c.mdio-mii:02:link";
		};
	};
};

&aes {
	status = "disabled"; /* Reserved by secure OS */
};

&gpio {
	emmc_sd_pins: emmc-sd-pins {
		/* eMMC_SD - CMD, CLK, D0, D1, D2, D3, RSTN */
		pins = "GPIO_67", "GPIO_68", "GPIO_69", "GPIO_70",
			"GPIO_71", "GPIO_72", "GPIO_77";
		function = "emmc_sd";
	};

	emmc_pins: emmc-pins {
		/* eMMC - D4, D5, D6, D7 */
		pins = "GPIO_73", "GPIO_74", "GPIO_75", "GPIO_76";
		function = "emmc";
	};

	fc2_b_pins: fc2-b-pins {
		/* SCK, MISO, MOSI*/  //DT: check on order required from driver
		pins = "GPIO_43", "GPIO_44", "GPIO_45";
		function = "fc2_b";
	};
	
	fc3_b_pins: fc3-b-pins {
		/* RX, TX */
		pins = "GPIO_52", "GPIO_53";
		function = "fc3_b";
	};

	can0_b_pins:  can0-b-pins {
		/* RX, TX */
		pins = "GPIO_35", "GPIO_36";
		function = "can0_b";
	};

	sgpio_a_pins: sgpio-a-pins {
		/* SCK, D0, D1, LD */
		pins = "GPIO_32", "GPIO_33", "GPIO_34", "GPIO_35";
		function = "sgpio_a";
	};

	usb_host_a_pins: usb_host_a_pins {
		pins = "GPIO_65", "GPIO_66";
		function = "usb_host_a";
	};
};

&can0 {
	pinctrl-0 = <&can0_b_pins>;
	pinctrl-names = "default";
	status = "disabled"; /* Conflict with switch */
};

&flx2 {
	compatible = "microchip,lan966x-flexcom";
	reg = <0xe0060000 0x00000100>, <0xe2004180 0x00000008>;
	atmel,flexcom-mode = <ATMEL_FLEXCOM_MODE_SPI>;   //DT: check if this mode exists as such - OK 
	microchip,flx-shrd-pins = <1>;
	microchip,flx-cs = <0>;
	status = "okay";
 
	spi2: spi@400 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "atmel,at91rm9200-spi";
		pinctrl-0 = <&fc2_b_pins>;
		pinctrl-names = "default";
		cs-gpios = <&gpio 40 GPIO_ACTIVE_LOW>;
		status = "okay";
		eth7: lan865x@0{
			compatible = "microchip,lan8651", "microchip,lan8650";
			reg = <0>; /* CE0 */
			//pinctrl-names = "default";
			//pinctrl-0 = <&eth7_pins>;
			enable-gpios = <&gpio 35 0x6>; /* Output High, Single Ended, Open-Drain*/
			interrupt-parent = <&gpio>;
			interrupts = <36 0x2>; /* 0x2 - falling edge trigger */
			local-mac-address = [04 05 06 01 02 03];
			spi-max-frequency = <15000000>;
			status = "okay";
		};
	};
};

&flx3 {
	atmel,flexcom-mode = <ATMEL_FLEXCOM_MODE_USART>;
	status = "okay";

	usart3: serial@200 {
		pinctrl-0 = <&fc3_b_pins>;
		pinctrl-names = "default";
		status = "okay";
	};
};

&mdio1 {
	status = "okay";
};

&phy0 {
	status = "okay";
};

&phy1 {
	status = "okay";
};

&port0 {
	phy-handle = <&phy0>;
	phy-mode = "gmii";
	phys = <&serdes 0 CU(0)>;
	status = "okay";
};

&port1 {
	phy-handle = <&phy1>;
	phy-mode = "gmii";
	phys = <&serdes 1 CU(1)>;
	status = "okay";
};

&qspi0 {
	status = "okay";

	spi-flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <20000000>;
		#address-cells = <1>;
		#size-cells = <1>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		m25p,fast-read;
	};
};

&sdmmc0 {
	bus-width = <8>;
	cap-mmc-highspeed;
	cap-mmc-hw-reset;
	non-removable;
	pinctrl-0 = <&emmc_sd_pins>, <&emmc_pins>;
	pinctrl-names = "default";
	no-1-8-v;
	mmc-ddr-3_3v;
	tx-phase = <0>; /* 180 degrees phase shift */
	status = "okay";
};

&serdes {
	status = "okay";
};

&sgpio {
	pinctrl-0 = <&sgpio_a_pins>;
	pinctrl-names = "default";
	microchip,sgpio-port-ranges = <0 3>, <8 11>;
	status = "okay";

	gpio@0 {
		ngpios = <64>;
	};
	gpio@1 {
		ngpios = <64>;
	};
};

&switch {
	status = "okay";
};

&usb {
	dr_mode = "host";
	pinctrl-0 = <&usb_host_a_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&watchdog {
	status = "okay";
};
